body{
    background-color: rgb(244, 234, 255);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    margin-top: 50px;
}

h1{
    font-size: 50px;
    color: rgb(118, 57, 196);
}

main{
    background-color: rgb(118, 57, 168);
    color: white;
    width: 700px;
    margin: 20px auto;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
}

a{
    text-decoration: none;
    background-color: wheat;
    color: black;
    padding: 2px 6px;
    border-radius: 3px;
}

a:hover,active {
    background-color: rgb(146, 112, 61);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 14px 0;
    padding-left: 12px;
    border-left: 5px solid transparent;

}

.extra-essential{
    color: rgb(255, 237, 177);
    border-color: rgb(247, 209, 85);
}

footer{
    margin: 50px 0 100px 0;
}

footer a{
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgb(250, 201, 39);
    color: rgb(66, 51, 4);
}

footer a:hover,
footer a:active {
    background-color: rgb(255, 186, 58);
}

footer p{
    color: rgb(131, 113, 149);
    margin-top: 30px;
}
/* button{
    padding: 8px;
    background-color: rgb(221, 174, 20);
    border-radius: 3px;
} */